<section class="map">
  <div class="container">
    <h2 class="map__title heading-h1">Contact our team to find out more</h2>
    <div class="map__content-wrapper">
      <!-- <div class="map__content" id="map" style="width: 986px; height: 544px"></div> -->
      <div class="map__content">
        <div id="map"></div>
      </div>
      <ul class="map__contacts">
        <li class="map__contacts-item text-p-default">
          <h3 class="map__contacts-item-title text-p-large">Support</h3>
          <p class="map__contacts-item-descr">Our friendly team is here to help.</p>
          <a href="mailto:support@sans.com" class="map__contacts-item-link">support@sans.com</a>
        </li>
        <li class="map__contacts-item text-p-default">
          <h3 class="map__contacts-item-title text-p-large">Sales</h3>
          <p class="map__contacts-item-descr">Questions or queries? Get in touch!</p>
          <a href="mailto:sales@sans.com" class="map__contacts-item-link">sales@sans.com</a>
        </li>
        <li class="map__contacts-item text-p-default">
          <h3 class="map__contacts-item-title text-p-large">Phone</h3>
          <p class="map__contacts-item-descr">Mon-Fri from 8am to 5pm.</p>
          <a href="tel:+14353457655" class="map__contacts-item-link">+1 (435) 345-7655</a>
        </li>
      </ul>
    </div>
    <!-- <img class="map__content-pin" src="./assets/icons/map/pin.svg" alt="" /> -->
  </div>
</section>
