.hero {
  padding: 90px 0 78px;

  &__container {
    &-bottom {
      padding-top: 130px;
      padding-bottom: 130px;
      max-width: 1440px;
      padding-right: 0;
      display: flex;
      justify-content: flex-end;
      gap: 32px;
      padding-left: clamp(15px, 0px, calc((100% - 1440px) / 2));
      //padding-left: max(15px, calc((100% - 1440px) / 2));

      .content {
        &_1 {
          max-width: 502px;
          //width: 100%;
          // height: 629px;
          // width: 502px;
          // margin-left: 110px;
        }
        &_2 {
          //background-color: aqua;
          max-width: 502px;
          //width: 100%;
          // height: 629px;
          // width: 502px;
          //flex-shrink: 0;
        }
        &_3 {
          max-width: 252px;
          //width: 100%;
          // height: 460px;
          // width: 252px;
          //overflow: hidden;
        }
      }
    }
  }

  &__title {
    margin-bottom: 118px;
    max-width: 959px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: -0.04em;
    color: var(--neutral-color-100);

    @include small-tablet {
      margin-bottom: 80px;
      text-align: center;
    }
  }

  &__subtitle {
    // max-width: 738px; // Нельзя задавать ограничения, пользуемся <br>

    &-wrapper {
      @include flex-align-center-between;

      & br {
        @include small-tablet {
          display: none;
        }
      }

      @include small-tablet {
        gap: 50px;
        flex-direction: column;
        text-align: center;
      }
    }
  }

  &__circle {
    @include flex-all-center;
    position: relative;
    border-radius: 50%;
    width: 126px;
    height: 126px;

    &-logo {
      svg {
        rect {
          fill: var(--neutral-color-100);
        }
      }
    }

    &-text {
      position: absolute;
      width: 100%;
      height: 100%;
      animation: anim 10s linear infinite;

      & span {
        position: absolute;
        left: 50%;
        font-family: Roboto, sans-serif;
        font-size: 12px;
        text-transform: uppercase;
        transform-origin: 0 63px; // Размер круга 126px делить на 2
      }
    }

    &-link {
      position: absolute;
      inset: 0;
    }
  }
}

@keyframes anim {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

// Корректировака линии
.text-p-subtitle {
  &::before {
    transform: translateY(-84px);
  }
}

.content {
  position: relative;
  display: flex;
  justify-content: flex-end;
  padding-right: 0;
  padding-left: max(15px, calc(100% - 1200px) / 2);
  margin: 0 auto;
  //max-width: 1440px;
}

.hero__content {
  background-color: aqua;
  width: 100%;
}

// https://www.youtube.com/watch?v=NVdlfhkDAGM
// https://www.youtube.com/watch?v=l4sxzymT4S8
